# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
.eggs/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# MacOS specific
.DS_Store

# Virtual environment
venv/
ENV/
env/
env.bak/
venv.bak/

# Pytest
.cache
*.cover
*.coverage
nosetests.xml
coverage.xml
*.log

# IDE/editor specific
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
